html {
  font-size: 18px;
  font-family: helvetica;
  color: white;
}
h1 {
  font-size: 1rem;
}
h2 {
  font-size: 2rem;
}

/*Header Content*/
.header {
  display: flex;
  background-color: black;
  width: 100%;
  justify-content: center;
  align-items: left;
}
.logo {
  display: inline-flex;
  justify-content: left;
  align-items: center;
  padding: 0.66rem 0.5rem;
}
.site-name {
  align-items: center;
  padding-left: 1rem;
}

/*Banner Content*/
.main-banner {
  display: flex;
  background-image: url('../images/moto.jpeg');
  width: 100%;
  height: 25rem;
  background-position: center;
  background-size: cover;
  justify-content: center;
  align-items: left;
}
.banner-container {
  display: flex;
  margin-top: 9rem;
  background-color: black;
  width: 28rem;
  height: auto;
}
.banner-text {
  display: flex;
  width: auto;
  padding-top: 2rem;
  padding-left: 3rem;
  padding-bottom: 2rem;
  flex-direction: column;
}
.banner-text h1 {
  padding-bottom: 0.25rem;
  font-style: bold;
}

/*Navigation Bar*/
.navbar {
  display: flex;
  width: 100%;
  background-color: firebrick;
  justify-content: center;
}
.nav-item {
  display: inline-flex;
  padding: 0.75rem;
  width: 10rem;
  justify-content: center;
}

/*Product Tiles*/
.product {
  margin-top: 3rem;
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;


}
/*generic container sits between these class/divs */
.tile {
  display: flex;
  border: 4px solid black;
  width: 30%;
  flex-direction: column;
}
.tile-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9rem;
  margin: 2rem 0rem;
}
.tile-image img {
  width: 8rem;
}

.tile-text {
  background-color: black;
  width: 100%;
  padding: 0.5rem 0rem;
  text-align: center;
}

/*Footer Content*/
footer {
  height: 300px;
}



/*Container Details*/
.container {
  display: flex;
  width: 960px;
  justify-content: left;
}
.product .container {
  justify-content: center;
  justify-content: space-around;
}
